#navbar {
    display: flex;
    min-width: 20rem;
    background-color: #f00000;
    align-items: center;
}

#navbar-brand {
    margin-left: 2rem;
    font-size: 25px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-item {
}

.nav-link {
    display: block;
    color: #FFCB05;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

#logo{
    height: 2rem;
    padding: .5rem;
}